.container-fluid {
	border-style: solid;
	padding: 1px;
}

.navbar-brand {
	font-family: "French Script MT";
	font-size: 75px;
}

.navbar-nav {
	font-family: "French Script MT";
	font-size: 25px;
}

h1 {
	font-family: "French Script MT";
	font-size: 75px;
}